<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Termine
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="padding-lr">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Termine</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-segment value="default" #segment>
    <ion-segment-button value="overview">
      <ion-label>Übersicht</ion-label>
    </ion-segment-button>
    <ion-segment-button value="default">
      <ion-label>Aktuell</ion-label>
    </ion-segment-button>
    <ion-segment-button value="history">
      <ion-label>Historie</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ng-container *ngIf="segment.value === 'overview'">
    <app-termin-overview></app-termin-overview>
  </ng-container>
  <ng-container *ngIf="segment.value === 'default'">
    <app-current-termin-liste></app-current-termin-liste>
  </ng-container>
  <ng-container *ngIf="segment.value === 'history'">
    <app-history-termin-liste></app-history-termin-liste>
  </ng-container>

  

</ion-content>