<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="termin">
      <ion-icon aria-hidden="true" name="images"></ion-icon>
      <ion-label>Termine</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mitglieder">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Mitglieder</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="anwesenheit">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Anwesenheit</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>