<ion-list>
  <div class="user-info">
    <div class="user-name">{{authService.connectedOrchesterMitgliedsName}}</div>
    <div class="user-mail">{{authService.userEmail}}</div>
    <div class="button-wrapper">
      <ion-menu-toggle>
        <ion-button (click)="logout()" fill="outline" size="small">
          Logout
          <ion-icon slot="start" name="log-out-outline"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </div>
  </div>

  <ion-menu-toggle autoHide="false" *ngFor="let p of mainPages; let i = index">
    <ion-item [routerLink]="p.url" routerLinkActive="selected" routerDirection="root" detail="false">
      <ion-icon slot="start" [name]="p.icon + '-outline'"></ion-icon>
      <ion-label>
        {{p.title}}
      </ion-label>
    </ion-item>
  </ion-menu-toggle>

  <ng-container *ngIf="rolesService.isCurrentUserAdmin">
    <ion-list-header>
      Verwaltung
    </ion-list-header>
    <ion-menu-toggle autoHide="false" *ngFor="let p of managementPages; let i = index">
      <ion-item [routerLink]="p.url" routerLinkActive="selected" routerDirection="root" detail="false">
        <ion-icon slot="start" [name]="p.icon + '-outline'"></ion-icon>
        <ion-label>
          {{p.title}}
        </ion-label>
      </ion-item>
    </ion-menu-toggle>
  </ng-container>
</ion-list>