<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <button (click)="loadData()">Load from API</button>
  <ng-container *ngIf="loading">
    <pre *ngIf="data$ | async as data; else loading">>{{data | json}}</pre>
    <ng-template #loading>Loading....</ng-template>
  </ng-container>
  
</ion-content>
