<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Termine Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Termine Details</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ng-container *ngIf="data$ | async as data; else loading">
    <pre>{{data | json}}</pre>
    <ion-button [routerLink]="'/tabs/termin/' + activeTab" class="back-btn">
      <ion-icon slot="start" name="arrow-back"></ion-icon>
      Zurück zur Termin Übersicht
    </ion-button>

    <ion-card>
      <img alt="Silhouette of mountains" src="/assets/card-media.png" />
      <ion-card-header>
        <ion-card-title>
          <span *ngIf="data.termin.terminStatus !== 3; else abgesagt;">{{data.termin.terminName}}
            ({{data.termin.terminArt | dropdown : data.terminArtenDropdownValues}})</span>
          <ng-template #abgesagt>
            <s>
              <span>{{data.termin.terminName}} ({{data.termin.terminArt | dropdown :
                data.terminArtenDropdownValues}})</span>
            </s>
          </ng-template>
        </ion-card-title>
        <ion-card-subtitle class="ion-card-subtitle">
          {{data.termin.startZeit | date : 'dd.MM.YYYY'}}: {{data.termin.startZeit | date :
          'HH:mm'}}-{{data.termin.endZeit | date : 'HH:mm'}}
        </ion-card-subtitle>
        <ion-card-subtitle *ngIf="data.termin.terminStatus === 3">
          <i class="termin-abgesagt">Termin wurde abgesagt!</i>
        </ion-card-subtitle>
        <ion-card-subtitle *ngIf="data.termin.terminStatus === 1">
          <i class="termin-anfrage">Angefragter Termin</i>
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <div *ngIf="data.termin['weitereInformationen']" style="margin-bottom: 8px;">
          <p>
            {{data.termin['weitereInformationen']}}
          </p>
        </div>
        <div *ngIf="data.termin['straße']">
          <b>Treffpunkt:</b> <br>
          {{data.termin["straße"]}} {{data.termin.hausnummer}}, <br>
          {{data.termin.postleitzahl}}, {{data.termin.stadt}} <br>
          {{data.termin.zusatz}}
        </div>
        <div class="border-top" *ngIf="data.termin.endZeit < dateNow">
          <b>Am Termin teilgenommen?:</b> 
          <span *ngIf="data['terminRückmeldung'].istAnwesend; else nichtAnwesend">Ja</span>
          <ng-template #nichtAnwesend>
            Nein
          </ng-template>
        </div>
        <div class="response-div border-top">
          <div class="user-connected" [class.color-green]="data['terminRückmeldung'].zugesagt === 3"
            [class.color-red]="data['terminRückmeldung'].zugesagt === 2"></div>
          <div>
            <b>Meine Rückmeldung:</b> <br>
            <span>
              {{data["terminRückmeldung"].zugesagt | dropdown : data.responseDropdownValues }}
              <ion-icon *ngIf="(data['terminRückmeldung'].zugesagt === 1) && !(data.termin.endZeit < dateNow)"
                name="alert-outline" color="danger">
              </ion-icon>
            </span>
          </div>
          <div class="comment-div" *ngIf="data['terminRückmeldung'].kommentarZusage">
            <b>Kommentar:</b> <br>
            {{data['terminRückmeldung'].kommentarZusage}}
          </div>
          <div class="comment-div" *ngIf="data['terminRückmeldung']['rückmeldungDurchAnderesOrchestermitglied']">
            <b>Rückmeldung durch:</b> <br>
            {{data['terminRückmeldung']['rückmeldungDurchAnderesOrchestermitglied']}}
          </div>
        </div>
        <div class="border-top" *ngIf="data['termin']['noten'] && data['termin']['noten'].length > 0">
          <b>Noten:</b>
          {{data['termin']['noten'] | dropdownToString : data['notenDropdownValues']}}
        </div>
        <div *ngIf="data['termin']['uniform'] && data['termin']['uniform'].length > 0">
          <b>Uniform:</b>
          {{data['termin']['uniform'] | dropdownToString : data['uniformDropdownValues']}}
        </div>
      </ion-card-content>

      <ion-button *ngIf="canEditTermin" fill="clear" (click)="openUpdateModal(data)">Bearbeiten</ion-button>
      <ion-button fill="clear" (click)="openResponseModal()">Rückmeldung geben</ion-button>
    </ion-card>

  </ng-container>

  <ng-template #loading>
    <ng-container *ngIf="!isRefreshing">
      <app-loader></app-loader>
    </ng-container>
  </ng-template>

</ion-content>