.back-btn{
  margin-bottom: 16px;
}

.ion-card-subtitle{
  font-weight: 500;
  font-size: 16px;
}

.border-top{
  margin-top: 8px;
  padding-top: 8px;
  border-top: 1px solid #ffffff1c;
}

.response-div{
  position: relative;
  padding: 8px 0px;
}

.user-connected{
  position: absolute;
  top: 16px;
  right: 16px;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: yellow;
}

.color-green{
  background-color: rgb(31, 253, 2);
}

.color-red{
  background-color: rgb(255, 0, 0);
}

.termin-anfrage{
  color: #dbdb21;
}

.termin-abgesagt{
  color: red;
}

.comment-div{
  margin-top: 8px;
}

.image{
  height: 130px;
  width: 100%;
  object-fit: cover;
}