.default-color{
  color: #6aa0ff;
}

.nicht-angenommen{
  color: #b9ae49
}

.abgesagt{
  color: red;
}

.red{
  color: red;
}

.image{
  width: 68px;
  height: 60%;
  object-fit: cover;
  margin-right: 10px;
}

.triangle-base{
  width: 5px;
  height: calc(100% - 20px);
  margin: 10px 10px 10px 0;
}

.auftritt{
  background-color: #bb4b99;
}

.probe{
  background-color: #2a9183;
}

.konzert{
  background-color: #bb4b99;
}

.freizeit{
  background-color: #388742;
}

.reise{
  background-color: #388742;
}