<ion-item [button]="true" detail="false" [class.abgesagt]="terminStatus === 'Abgesagt' && !(terminEndTime < dateNow)"
  [class.nicht-angenommen]="terminStatus === 'Angefragt' && !(terminEndTime < dateNow)" (click)="emitOpenTermin()">
  <div class="triangle-base"
    [class.auftritt]="terminArt === terminArtEnum.Auftritt"
    [class.probe]="terminArt === terminArtEnum.Probe"
    [class.konzert]="terminArt === terminArtEnum.Konzert"
    [class.freizeit]="terminArt === terminArtEnum.Freizeit"
    [class.reise]="terminArt === terminArtEnum.Reise">
  </div>
  <img class="image" [src]="image ? 'data:image/png;base64,' + image : '/assets/card-media.png'"/>
  <ion-label>
    <h2>
      <strong *ngIf="terminStatus !== 'Abgesagt'; else abgesagt"> {{terminName}}</strong>
      <ng-template #abgesagt>
        <s><strong>{{terminName}}</strong></s>
      </ng-template>
    </h2>
    <ion-text class="ion-text-wrap" color="medium"> <b class="date">{{terminStartTime | date
      :
      'dd.MM.YYYY'}}: {{terminStartTime | date :
      'HH:mm'}}-{{terminEndTime | date : 'HH:mm'}}</b></ion-text><br />
    <ion-note color="medium" class="ion-text-wrap">
      <ng-container *ngIf="!(terminEndTime < dateNow)">
        <span [ngClass]="getResponseColorClass()">{{getResponseText()}}</span>
        <br>
      </ng-container>
      <ng-container *ngIf="terminEndTime < dateNow">
        Teilgenommen: {{istAnwesend ? 'Ja' : 'Nein'}}<br>
      </ng-container>
      <ng-container *ngIf="highAuth">
        Rückmeldungen: <span style="color: red;">{{negativeResponse}}</span> | <span>{{noResponse}}</span> | <span
          style="color: rgb(25, 255, 45);">{{positiveResponse}}</span>
      </ng-container>
    </ion-note>
  </ion-label>
  <div class="metadata-end-wrapper" style="margin: 0;" slot="end">
    <ion-icon color="medium" name="chevron-forward"></ion-icon>
  </div>
</ion-item>