.padding-lr{
  --padding-start: var(--ion-padding, 0px);
  --padding-end: var(--ion-padding, 0px);
  --padding-top: var(--ion-padding, 0px);
  --padding-bottom: var(--ion-padding, 0px);
  padding-inline-start: var(--ion-padding, 0px);
  padding-inline-end: var(--ion-padding, 0px);
  height: calc(100% - 48px);
}

ion-searchbar{
  position: sticky;
}