<ion-content class="padding-lr">
  <ng-container *ngIf="displayedData; else loading">
    <!-- <pre>{{displayedData | json}}</pre> -->
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list>
      <ion-searchbar #searchBar show-clear-button="always" placeholder="Suche Account"
        (ionInput)="search($event)"></ion-searchbar>

      <app-termin-item *ngFor="let termin of displayedData" [terminId]="termin.terminId"
        [terminStatus]="termin.terminStatus | dropdown : terminStatusDropdownValues" [terminName]="termin.name"
        [terminResponse]="termin.zugesagt | dropdown : responseDropdownValues"
        [terminArt]="termin.terminArt | dropdown : terminArtenDropdownValues" [terminStartTime]="termin.startZeit"
        [terminEndTime]="termin.endZeit" [noResponse]="termin.noResponse" [positiveResponse]="termin.positiveResponse"
        [negativeResponse]="termin.negativeResponse" [istAnwesend]="termin.istAnwesend" [highAuth]="canCreateNewTermin"
        (openTermin)="openTermin(termin.terminId)">
      </app-termin-item>

      <ng-container *ngIf="displayedData.length === 0">
        Kein Ergebnis
      </ng-container>
    </ion-list>
  </ng-container>

  <ng-template #loading>
    <app-loader></app-loader>
  </ng-template>
</ion-content>