.item{
  margin-bottom: 5px;
}

.item-color{
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
}

.square{
  width: 20px;
  height: 20px;
}

.auftritt{
  background-color: #bb4b99;
}

.probe{
  background-color: #2a9183;
}

.konzert{
  background-color: #bb4b99;
}

.freizeit{
  background-color: #388742;
}

.reise{
  background-color: #388742;
}