<ion-header>
  <ion-toolbar color="primary">
   <ion-title>Registrierung</ion-title>
  </ion-toolbar>
 </ion-header>
 
 <ion-content>
  <form (ngSubmit)="register()" [formGroup]="registerForm">
   <div class="input-group">
    <ion-item>
      <ion-input aria-label="Registrierungskey" type="string" placeholder="Registrierungskey" formControlName="registerKey"></ion-input>
     </ion-item>
     <div *ngIf="(registerKey?.dirty || registerKey?.touched) && registerKey?.errors" class="errors">
      <span *ngIf="registerKey?.errors?.['required']">Registrierungskey wird benötigt. </span>
     </div>

    <ion-item>
     <ion-input aria-label="Email" type="email" placeholder="Email" formControlName="email"></ion-input>
    </ion-item>
    <div *ngIf="(email?.dirty || email?.touched) && email?.errors" class="errors">
     <span *ngIf="email?.errors?.['required']">Email wird benötigt. </span>
     <span *ngIf="email?.errors?.['email']">Emailform ist nicht valide. </span>
    </div>

    <ion-item>
     <ion-input aria-label="Passwort" type="password" placeholder="Passwort" formControlName="password"></ion-input>
    </ion-item>
    <div *ngIf="(password?.dirty || password?.touched) && password?.errors" class="errors">
     <span *ngIf="password?.errors?.['required']">Passwort wird benötigt. </span>
     <span *ngIf="password?.errors?.['minlength']">Passwort muss mindestens 6 Zeichen enthalten. </span>
    </div>

    <ion-item>
      <ion-input aria-label="Passwort Bestätigung" type="password" placeholder="Wiederhole Passwort" formControlName="confirmPassword"></ion-input>
     </ion-item>
     <div *ngIf="(confirmPassword?.dirty || confirmPassword?.touched) && confirmPassword?.errors" class="errors">
      <span *ngIf="confirmPassword?.errors?.['required']">Passwort wird benötigt. </span>
      <span *ngIf="confirmPassword?.errors?.['minlength']">Passwort muss mindestens 6 Zeichen enthalten. </span>
      <span *ngIf="confirmPassword?.errors?.['mustMatch']">Passwörter stimmen nicht überein. </span>
     </div>
   </div>
 
   <ion-button type="submit" expand="block" [disabled]="!registerForm.valid">Registriere dich</ion-button>
  </form>
 </ion-content>

