<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">Zurück</ion-button>
    </ion-buttons>
      <ion-title>Rückmeldung</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true"
        [disabled]="!formGroup.dirty || formGroup.invalid">Speichern</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ng-container *ngIf="dataTermin; else loading">
    <h2>{{dataTermin.termin.terminName}}</h2>
    <form [formGroup]="formGroup">
      <ion-list>
        <ion-item>
          <ion-select label="Rückmeldung" label-placement="stacked" formControlName="zugesagt">
            <ion-select-option *ngFor="let response of dataTermin.responseDropdownValues" [value]="response.value"
              [disabled]="response.text === 'Nicht Zurückgemeldet'">{{response.text}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-textarea [autoGrow]="true" formControlName="kommentarZusage" labelPlacement="stacked" label="Kommentar Zusage"
            placeholder="Kommentar Zusage"></ion-textarea>
        </ion-item>
      </ion-list>
    </form>
  </ng-container>

  <ng-template #loading>
    <app-loader></app-loader>
  </ng-template>

</ion-content>