<div class="main">
  <!-- <pre>{{data | json}}</pre> -->
  <ion-datetime presentation="date" [value]="currentDate | date : 'YYYY-MM-dd'" [highlightedDates]="highlightedDates" #date></ion-datetime>
  <ion-list class="termin-list">
    <ion-item>
      <ion-label class="ion-label">
        Termine am {{transformDate(date.value)}}:
      </ion-label>
    </ion-item>
    <div class="termine">
      <app-termin-item *ngFor="let termin of data.terminData | selectTerminsFromDate : date.value" [terminId]="termin.terminId"
        [terminStatus]="termin.terminStatus | dropdown : data.terminStatusDropdownValues" [terminName]="termin.name"
        [terminResponse]="termin.zugesagt | dropdown : data.responseDropdownValues"
        [terminArt]="termin.terminArt" [terminStartTime]="termin.startZeit" [image]="termin.image"
        [terminEndTime]="termin.endZeit" [istAnwesend]="termin.istAnwesend" [highAuth]="false"
        [fristAsDate]="termin.fristAsDate" [ersteWarnungVorFristAsDate]="termin.ersteWarnungVorFristAsDate"
        (openTermin)="openTermin(termin.terminId)">
      </app-termin-item>
      <ion-item *ngIf="(data.terminData | selectTerminsFromDate : date.value).length === 0">
        <ion-label>
          <h3>
            Keine eingetragenen Termine
          </h3>
        </ion-label>
      </ion-item>
    </div>
  </ion-list>
</div>