<ion-app>
  <ion-split-pane contentId="main-content" *ngIf="showSidenav">

    <ion-menu contentId="main-content">
      <ion-content>
        <app-side-menu></app-side-menu>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>

  </ion-split-pane>

  <ion-router-outlet *ngIf="!showSidenav"></ion-router-outlet>

  <ion-button
    *ngIf="showSidenav"
    fill="clear"
    (click)="openNotifications()"
    class="notification-button">
    <ion-icon name="notifications-outline" slot="icon-only"></ion-icon>
    <ion-badge
      *ngIf="unreadNotifications > 0"
      class="notification-badge"
      color="danger">
      {{ unreadNotifications }}
    </ion-badge>
  </ion-button>
</ion-app>
