.notification-button {
  position: fixed;
  top: calc(8px + env(safe-area-inset-top));
  right: 16px;
  z-index: 1000;
  --color: var(--ion-color-medium);
  
  ion-icon {
    font-size: 24px;
  }
}

.notification-badge {
  position: absolute;
  top: -5px;
  right: -5px;
  min-width: 16px;
  height: 16px;
  font-size: 10px;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1001;
}
