<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()" fill="clear">
        <ion-icon name="arrow-back" slot="icon-only" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Benachrichtigungen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="padding-lr">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Benachrichtigungen</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="isLoading && !isRefreshing" class="loading-state">
    <ion-spinner></ion-spinner>
    <p>Benachrichtigungen werden geladen...</p>
  </div>

  <ion-list *ngIf="!isLoading">
    <ion-item *ngFor="let notification of notifications" [class.unread]="!notification.isRead" button="true"
              (click)="markAsRead(notification)">
      <ion-icon
        slot="start"
        [name]="getNotificationIcon(notification.type)"
        [color]="getIconColor(notification.type, notification.urgency)">
      </ion-icon>

      <ion-label class="ion-text-wrap">
        <h2 class="title-with-icon">
          <ion-icon *ngIf="notification.terminId" name="calendar-outline" size="small"
                    (click)="navigateToTermin(notification.terminId)" class="termin-button"></ion-icon>
          <span>{{ notification.title }}</span>
        </h2>
        <p style="font-size: 13px; font-weight: 600; margin-bottom: 0px;">{{ notification.message }}</p>
        <ion-note class="createdAt">{{ notification.createdAt | date:'dd.MM.yyyy HH:mm' }}</ion-note>
      </ion-label>
    </ion-item>
  </ion-list>

  <div *ngIf="!isLoading && notifications.length === 0" class="empty-state">
    <ion-icon name="notifications-outline" size="large"></ion-icon>
    <p>Keine Benachrichtigungen vorhanden</p>
  </div>
</ion-content>
