<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">Zurück</ion-button>
    </ion-buttons>
    <ion-title>Anwesenheit</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true"
        [disabled]="!formGroup.dirty || formGroup.invalid">Speichern</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ng-container *ngIf="dataResponses; else loading">
    <form [formGroup]="formGroup">
      <ng-container formArrayName="items">
        <div *ngFor="let item of dataResponses; let i = index" [formGroupName]="i">
          <ion-item>
            <ion-checkbox formControlName="istAnwesend">{{item.vorname}} {{item.nachname}}</ion-checkbox>
          </ion-item>
        </div>
      </ng-container>
    </form>
  </ng-container>

  <ng-template #loading>
    <app-loader></app-loader>
  </ng-template>

</ion-content>