<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">Zurück</ion-button>
    </ion-buttons>
    <ion-title>Anwesenheitskontrolle</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true"
        [disabled]="!formGroup.dirty || formGroup.invalid">Speichern</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ng-container *ngIf="dataResponses; else loading">
    <pre>{{dataResponses | json}}</pre>
  </ng-container>

  <ng-template #loading>
    <app-loader></app-loader>
  </ng-template>

</ion-content>