<div>
  <ng-container *ngIf="dataFiltered$ | async as data">
    <!-- <pre>{{data | json}}</pre> -->
    <ion-list>
      <ion-searchbar #searchBar show-clear-button="always" placeholder="Suche Termin"
        (ionInput)="search($event)"></ion-searchbar>
  
      <app-termin-item *ngFor="let termin of data.terminData" [terminId]="termin.terminId"
        [terminStatus]="termin.terminStatus | dropdown : data.terminStatusDropdownValues" [terminName]="termin.name"
        [terminResponse]="termin.zugesagt | dropdown : data.responseDropdownValues"
        [terminArt]="termin.terminArt" [terminStartTime]="termin.startZeit"
        [terminEndTime]="termin.endZeit" [noResponse]="termin.noResponse" [positiveResponse]="termin.positiveResponse"
        [negativeResponse]="termin.negativeResponse" [istAnwesend]="termin.istAnwesend" [highAuth]="canCreateNewTermin"
        (openTermin)="openTermin(termin.terminId)">
      </app-termin-item>
  
      <ng-container *ngIf="data.terminData.length === 0">
        <div style="padding: 8px;">
          Kein Termine
        </div>
      </ng-container>
    </ion-list>
    <ion-fab slot="fixed" vertical="bottom" horizontal="end" *ngIf="canCreateNewTermin">
      <ion-fab-button class="ion-fab-button" (click)="openCreateTerminModal()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ng-container>
</div>
