<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">Zurück</ion-button>
    </ion-buttons>
    <ion-title>Neuer Termin</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true"
        [disabled]="!formGroup.dirty || formGroup.invalid">Erstellen</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ng-container *ngIf="data$ | async as data; else loading">
    <!-- <pre>{{formGroup.value | json}}</pre> -->

    <form [formGroup]="formGroup">
      <ion-list>
        <ion-list-header color="tertiary">
          Termin Info
        </ion-list-header>
        <ion-item>
          <ion-input formControlName="name" labelPlacement="stacked" label="Termin Name"
            placeholder="Termin Name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-textarea [autoGrow]="true"  formControlName="weitereInformationen" labelPlacement="stacked" label="Beschreibung"
            placeholder="Termin Beschreibung"></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-avatar *ngIf="formGroup.get('image')!.value" slot="start">
            <img [src]="'data:image/png;base64,' + formGroup.get('image')!.value" />
          </ion-avatar>
          <ion-button (click)="uploadImage()">Bild hochladen</ion-button>
          <ion-button style="margin-left: 12px;" *ngIf="formGroup.get('image')!.value" (click)="deleteCurrentImage()" [color]="'danger'">Bild löschen</ion-button>
        </ion-item>
        <ion-item>
          <ion-select label="Termin Art" label-placement="stacked" formControlName="terminArt">
            <ion-select-option *ngFor="let terminArt of data.terminArtDropdown"
              [value]="terminArt.value">{{terminArt.text}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-input formControlName="terminDate" type="date" labelPlacement="stacked" label="Datum" placeholder="Datum"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input formControlName="startZeit" type="time" labelPlacement="stacked" label="Startzeit" placeholder="Startzeit"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input formControlName="endZeit" type="time" labelPlacement="stacked" label="Endzeit" placeholder="Endzeit"></ion-input>
        </ion-item>
      </ion-list>

      <ion-list class="mg-top">
        <ion-list-header color="tertiary">
          <ion-label style="color: white;">Rückmeldung & Erinnerungen</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-input formControlName="fristDays" type="number" labelPlacement="stacked" 
            label="Frist (Tage vor Termin)"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input formControlName="ersteWarnungVorFristDays" type="number" labelPlacement="stacked" 
            label="Erste Warnung (Tage vor Frist)"></ion-input>
        </ion-item>
      </ion-list>

      <ion-list class="mg-top">
        <ion-list-header color="tertiary">
          Zusätzliche Informationen
        </ion-list-header>
        <ion-item>
          <ion-select label="Noten" label-placement="stacked" formControlName="noten" [multiple]="true">
            <ion-select-option *ngFor="let noten of data.notenDropdown"
              [value]="noten.value">{{noten.text}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-select label="Uniform" label-placement="stacked" formControlName="uniform" [multiple]="true">
            <ion-select-option *ngFor="let uniform of data.uniformDropdown"
              [value]="uniform.value">{{uniform.text}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-checkbox labelPlacement="end" (click)="clickedCheckbox()">Termin nur für bestimmte Mitglieder?</ion-checkbox>
        </ion-item>
        <ion-item *ngIf="terminOnlyForSpecificMembers">
          <ion-select label="Orchestermitglieder für Termin" label-placement="stacked" formControlName="orchestermitgliedIds" [multiple]="true">
            <ion-select-option *ngFor="let orchesterMitglied of data.orchesterMitgliederDropdown"
              [value]="orchesterMitglied.value">{{orchesterMitglied.text}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <ion-list class="mg-top">
        <ion-list-header color="tertiary">
          <ion-label style="color: white;">Treffpunkt</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-input formControlName="straße" labelPlacement="stacked" label="Straße" placeholder="Straße"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input formControlName="hausnummer" labelPlacement="stacked" label="Hausnummer"
            placeholder="Hausnummer"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input formControlName="postleitzahl" labelPlacement="stacked" label="Postleitzahl"
            placeholder="Postleitzahl"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input formControlName="stadt" labelPlacement="stacked" label="Stadt" placeholder="Stadt"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input formControlName="zusatz" labelPlacement="stacked" label="Zusatz" placeholder="Zusatz"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="number" formControlName="latitude" labelPlacement="stacked" label="Latitude" placeholder="Latitude"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="number" formControlName="longitude" labelPlacement="stacked" label="Longitude" placeholder="Longitude"></ion-input>
        </ion-item>
      </ion-list>
    </form>
  </ng-container>

  <ng-template #loading>
    <app-loader></app-loader>
  </ng-template>

</ion-content>