.triangle-base{
  width: 0;
  height: 0;
  border-left: 17px solid green;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  margin-right: 10px;
}

.triangle-green {
  border-left-color:  rgb(31, 253, 2);
}

.triangle-yellow{
  border-left-color: yellow
}

.triangle-red{
  border-left-color: red;
}