<app-toolbar [header]="'Accountverwaltung'">

  <ng-container *ngIf="data$ | async as data; else loading">
    <ion-card>
      <ion-button class="icon" fill="clear" (click)="setOpen(true)">
        Test
        <!-- <ion-icon slot="icon-only" name="pencil"></ion-icon> -->
      </ion-button>
      <ion-card-header>
        <ion-card-title>{{data.orchesterMitgliedsName}}</ion-card-title>
      </ion-card-header>
      <ion-list lines="full">
        <app-data-item label="Registrierungsschlüssel" [value]="data.registrationKey"></app-data-item>
        <app-data-item label="Registrierungsschlüssel Ablaufdatum"
          [value]="data.registerKeyExpirationDate | date : 'dd.MM.yyyy hh:mm'"></app-data-item>
        <app-data-item label="E-Mail" [value]="data.email ?? 'nicht verbunden'"></app-data-item>
        <app-data-item label="Account locked"
          [value]="data.accountLocked ? 'blockiert' : 'nicht blockiert'"></app-data-item>
        <app-data-item label="Erste Anmeldung" [value]="data.firstLogin | date : 'dd.MM.yyyy hh:mm'"></app-data-item>
        <app-data-item label="Letzte Anmeldung" [value]="data.lastLogin | date : 'dd.MM.yyyy hh:mm'"></app-data-item>
      </ion-list>
    </ion-card>

    <ion-card *ngIf="data.email">
      <ion-card-header>
        <ion-card-title>Rollen von {{data.email}}</ion-card-title>
      </ion-card-header>
      <form (ngSubmit)="changeRoles(data.email)" [formGroup]="roleFormGroup">
        <ion-item>
          <ion-select label="Stacked label" label-placement="stacked" [multiple]="true" [formControlName]="'role'">
            <ion-select-option *ngFor="let role of roles" [value]="role.value">{{role.text}}</ion-select-option>
          </ion-select>
        </ion-item>
        <div class="button-div">
          <ion-button type="submit" fill="clear"
            [disabled]="!roleFormGroup.valid || !roleFormGroup.touched">Speichern</ion-button>
        </div>
      </form>
    </ion-card>

    <!-- <ion-button expand="block">Entferne Lockout</ion-button>
    <ion-button expand="block">Erneuere Registrierungsschlüssel</ion-button>

    <ion-button color="danger" expand="block">Lösche User</ion-button> -->
    <!-- <ion-button id="open-action-sheet">Open</ion-button> -->
    <ion-action-sheet [isOpen]="isActionSheetOpen" header="Actions" [buttons]="actionSheetButtons"  (didDismiss)="setOpen(false)"></ion-action-sheet>
  </ng-container>

  <ng-template #loading>
    LADEN
  </ng-template>
</app-toolbar>

