.termin-item-wrapper {
  border-radius: 8px;
  margin-bottom: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

:host-context(.light-theme) .termin-item-wrapper {
  background-color: var(--ion-color-step-50);
}

:host-context(.dark-theme) .termin-item-wrapper {
  background-color: var(--ion-color-step-150);
}

ion-item{
  --background: transparent;
  --inner-border-width: 0;
  --border-width: 0;
}

.image{
  width: 54px;
  height: 60%;
  object-fit: cover;
  margin-right: 10px;
}

.red{
  color: red;
}

.triangle-base{
  width: 5px;
  height: calc(100% - 20px);
  margin: 10px 10px 10px 0;
}

.auftritt{
  background-color: #bb4b99;
}

.probe{
  background-color: #2a9183;
}

.konzert{
  background-color: #bb4b99;
}

.freizeit{
  background-color: #388742;
}

.reise{
  background-color: #388742;
}