<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Verifiziere deine E-Mail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="info-text">An die von dir eingegebene E-Mail Adresse {{authService.userEmail}} wurde ein Verifizierungslink verschickt. Bitte klicke auf den Link in
    dieser Mail, um deine E-Mail zu verifizieren. Falls du keine Mail finden kannst, denke daran auch in den Spamordner zu gucken.
  </p>
  <p class="info-text-2">
    Nachdem deine Mail verifiziert wurde, kannst du dich ganz normal anmelden, indem du zurück zum <a routerLink="/auth/">Login</a> gehst.
  </p>

    <ion-button (click)="resendVerificationMail()" type="button" expand="block" fill="clear"
    class="resend-mail-button">
    Versende die E-Mail erneut
  </ion-button>

  <ion-button (click)="showChangeEmailForm = !showChangeEmailForm;" type="button" expand="block" fill="clear"
    class="change-email-button">
    E-Mail Adresse ändern
  </ion-button>

  <form *ngIf="showChangeEmailForm" (ngSubmit)="changeEmail()" [formGroup]="changeEmailFormGroup">
    <div class="input-group">
      <ion-item>
        <ion-input type="email" placeholder="Neue Email" formControlName="oldEmail"></ion-input>
      </ion-item>
      <div *ngIf="(oldEmail?.dirty || oldEmail?.touched) && oldEmail?.errors" class="errors">
        <span *ngIf="oldEmail?.errors?.['required']">Alte Email wird benötigt. </span>
      </div>
      <ion-item>
        <ion-input type="email" placeholder="Neue Email" formControlName="newEmail"></ion-input>
      </ion-item>
      <div *ngIf="(newEmail?.dirty || newEmail?.touched) && newEmail?.errors" class="errors">
        <span *ngIf="newEmail?.errors?.['required']">Neue Email wird benötigt. </span>
      </div>
      <ion-item>
        <app-show-hide-password>
          <ion-input type="password" placeholder="Altes Passwort" formControlName="password"></ion-input>
        </app-show-hide-password>
      </ion-item>
      <div *ngIf="(password?.dirty || password?.touched) && password?.errors" class="errors">
        <span *ngIf="password?.errors?.['required']">Passwort wird benötigt. </span>
        <span *ngIf="password?.errors?.['minlength']">Passwort muss mindestens 6 Zeichen enthalten. </span>
      </div>
    </div>



    <ion-button type="submit" expand="block" [disabled]="!changeEmailFormGroup.valid">Ändere Email</ion-button>
  </form>
  <ion-button routerLink="/auth/" type="button" expand="block" fill="clear"
    class="back-to-login-button">
    Zurück zum Login
  </ion-button>
</ion-content>
